<%= form_with(model: @task, local: true) do |f| %>
    
    <% if @task.errors.any? %>
        <ul class="text-danger">
            <% @task.errors.full_messages.each do |message| %>
                <li> <%=message%> </li>
            <% end %>
        </ul>
    <% end %>
    <div class="form-group">
        <%= f.label :name, "Name", class:"form-label" %> 
        <%= f.text_field :name, class:"form-control" %> 
    </div>
    <div class="form-group">
        <%= f.label :details, "Details", class:"form-label" %> 
        <%= f.text_field :details, class:"form-control" %> 
    </div>
    <div class="form-group">
        <%= f.label :deadline, "Deadline", class:"form-label" %> 
        <%= f.datetime_field :deadline, class:"form-control" %> 
    </div>
    <div class="form-group">
        <%= f.label :status, "Status", class:"form-label" %> 
        <select name="task[status]" id="task_status" class="form-control">
            <option value="unstarted">unstarted</option>
            <option value="progress">progress</option>
            <option value="complete">complete</option>
        </select>
    </div>
    <div class="form-group">
        <%= f.label :priority, "Priority", class:"form-label" %> 
        <select name="task[priority]" id="task_priority" class="form-control">
            <option value="high">high</option>
            <option value="medium">medium</option>
            <option value="low">low</option>
        </select>
    </div>
    <div class="form-group form-check">
        <% Tag.all.each do |tag| %>
            <% checked_tag = [] %>
            <% TagTask.where(task_id: @task.id).where(tag_id: tag.id).each do |tag_task| %>
                <% checked_tag << tag.id%>
            <% end %>
            
            <% if checked_tag.include?(tag.id) %>
                <%= f.check_box :tag_ids, {multiple: true, checked: true, disabled: tag[:disabled], include_hidden: false}, tag[:id], class:"form-check-input"%>
                <%= f.label :tag, tag.name, class:"form-check-label mr-4" %>
            <% else %>
                <%= f.check_box :tag_ids, {multiple: true, checked: false, disabled: tag[:disabled], include_hidden: false}, tag[:id], class:"form-check-input"%>
                <%= f.label :tag, tag.name, class:"form-check-label mr-4" %>
            <% end %>
        <% end %>
    </div>
    
    <%= f.submit class:"btn btn-lg btn-primary"%>
<% end %>