<div class="container text-center mt-3">
    <h1>Task</h1>

    <% if notice.present? %>
        <p class="alert alert-success"> <%=notice%> </p>
    <% end %>

    <table class="table w-100">
        <tr>
            <th class="text-right w-50">Name : </th>
            <td class="text-left w-50"> <%=@task.name%> </td>
        </tr>
        <tr>
            <th class="text-right w-50">Details : </th>
            <td class="text-left w-50"> <%=@task.details%> </td>
        </tr>
        <tr>
            <th class="text-right w-50">Deadline : </th>
            <td class="text-left w-50"> <%=@task.deadline%> </td>
        </tr>
        <tr>
            <th class="text-right w-50">Status : </th>
            <td class="text-left w-50"> <%=@task.status%> </td>
        </tr>
        <tr>
            <th class="text-right w-50">Priority</th>
            <td class="text-left w-50"> <%=@task.priority%> </td>
        </tr>
    </table>
</div>
